body {
  font-size: 16px;
  color: #fff;
  background-color: #FFFFFF;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: grey;
  border-radius: 0;
  border: 1px solid black;
}
.navbar-brand {
  padding-top: 15px;
}
.navbar-brand h1 { /* Restaurant name */
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#collapsable-name{
background-color:rgb(241,102,91);
}
#nav-list a {
  color: #951C49;
  padding: 5;
  border-bottom: 1px solid black;
}
#nav-list li:nth-child(3) a {
  border-bottom: 0px solid black;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}


/* HOME PAGE */
.container .jumbotron {
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid #3F0C1F;
}
.category-tile { 
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  height: 700px;
  margin: 0 auto 15px;
  background-color: rgb(245,236,217);
}
.category-tile span {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  color: #000;

}
.category-tile span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  text-align: left;
  font-size: 1em;
  text-transform: none;
  color: blue;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
#menu-categories-title {
	height: 50px;
	color: black;	
	padding-bottom: 50px;
}

@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
 
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
 
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 50px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 4vw; /* 1vw = 1% of viewport width */
  }
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  /* End Header */
}
